appdirs==1.4.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
convertdate==2.2.0
cssselect==1.1.0
fake-useragent==0.1.11
holidays==0.10.1
idna==2.9
lxml==4.5.0
numpy==1.18.2
pandas==1.0.3
parse==1.15.0
pyee==7.0.1
PyMeeus==0.3.7
pyppeteer==0.0.25
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
requests-html==0.10.0
six==1.14.0
soupsieve==2.0
tqdm==4.45.0
urllib3==1.25.8
w3lib==1.21.0
websockets==8.1
yahoo-fin==0.8.4
